/* reset css */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }
/* fin css reset */

body{
	background: url("/images/fondo_web.png") repeat-x;
	/* SAME AS ABOVE */
	/* background: url("/images/fondo_web.png");o
	background-repeat: repeat-x; */

}



#cont_principal {
	background-color: #fff;
	background-image: url("/images/fondo_pr.jpg");
	background-repeat: no-repeat;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
  overflow: hidden; 
}

#principal {
	float: right;
	width: 565px;
	margin-right: 15px;
	padding-top: 25px;
}


#anuncio {
	background: url("/images/perg_medio.jpg") repeat-y;
	background-position: center top;
	margin-right: 600px;
	margin-left: 20px;
	margin-top: 115px;
	/* padding: 0 15px; */
}

#anuncio h2 {
	background: url("/images/perg-sup.jpg") no-repeat;
	font: italic bold normal 20px Georgia, "Times New Roman", Times, serif;
	text-align: center;
	color: #323A3F;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 18px;
	padding-top: 80px;
}
#anuncio ul {
	font: 14px Tahoma, Geneva, sans-serif;
	list-style: none;
	padding-left: 40px;
	padding-bottom: 40px;
}

#anuncio .imagen_fondo{
	padding-bottom: 60px;
	background: url("/images/perg_inf.jpg") no-repeat center bottom ;
	/* background-image: url("/images/perg_inf.jpg") ;
	background-repeat: no-repeat;
	background-position: bottom; */
	/* background: #000; */
}

#banner{
	margin-top: 48px;
	margin-right: 10px;
}

#banner h1 {
	font: normal 48px Georgia, "Times New Roman", Times, serif;
	text-align: right;
  color: #272D32;
}


#principal h2 {
	font: 24px Tahoma, Geneva, sans-serif;
	margin-bottom: 15px;
	font-family: Tahoma, Geneva, sans-serif;
	background-image: url("/images/subrayado.png");
	background-repeat: no-repeat;
	background-position-y: bottom;
	padding-bottom: 10px;
}
#principal p {
	font: 14px Tahoma, Geneva, sans-serif;
	color: #323A3F;
	margin-bottom: 20px;
	font-family: Tahoma, Geneva, sans-serif;
}


#anuncio li{
	list-style-image: url("/images/vineta.png");
	text-align: justify;
	line-height: 1.5em;
	margin-left: 30px;
	margin-right: 40px;
}
